.panel {
  & + & {
    margin-top: 32px;
  }
}

.heading {
  margin-bottom: 12px;
  font-size: 14px;
}

.subHeading {
  margin-bottom: 12px;
}

.content {
  border: 1px solid var(--dashboard-border);
  border-right: 0;
  border-left: 0;
  margin: 0 calc(var(--content-padding) * -1);
  background-color: var(--dashboard-panel-background);

  &[data-padding='none'] {
    padding: 0;
  }

  &[data-padding='small'] {
    padding: 18px var(--content-padding);
  }

  &[data-padding='medium'] {
    padding: 24px var(--content-padding);
  }

  &[data-padding='large'] {
    padding: 32px var(--content-padding);
  }
}
