@use '@/shared/styles/global' as *;

body {
  background-color: var(--select-background-default);
  color: var(--select-content-default);
  user-select: none;
}

.noResults {
  color: var(--select-content-helper);
}
