.input {
  padding: 6px 12px;
  border: 1px solid var(--dashboard-input-default-border);
  border-radius: 4px;
  background-color: var(--dashboard-input-default-background-default);

  &:focus-visible {
    outline: 3px solid var(--dashboard-focus);
    outline-offset: 0;
  }

  &:hover {
    background-color: var(--dashboard-input-default-background-hover);
  }

  &.hasError,
  &:invalid {
    border-color: var(--dashboard-input-error-border);

    &:focus-visible {
      outline-color: var(--dashboard-input-error-outline);
    }
  }

  &.hasWarning {
    border-color: var(--dashboard-input-warning-border);

    &:focus-visible {
      outline-color: var(--dashboard-input-warning-outline);
    }
  }
}

.message {
  position: absolute;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  position-area: top;

  &[data-message-type='error'] {
    background-color: var(--dashboard-input-error-tooltip-background);
    color: var(--dashboard-input-error-tooltip-text);
  }

  &[data-message-type='warning'] {
    background-color: var(--dashboard-input-warning-tooltip-background);
    color: var(--dashboard-input-warning-tooltip-text);
  }
}
