.customSoundListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-right: 12px;
  padding-bottom: 18px;
  gap: 6px;
}

.content {
  display: flex;
  flex: 1;
  gap: 16px;
}

.nameField,
.pathField {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 8px;
}

.pathField {
  flex: 1.6;
}

.label {
  color: var(--dashboard-text-hint);
  font-size: 13px;
}

.input {
  flex: 1;
}

.pathInput {
  display: none;
}
