@use '@/shared/styles/global' as *;

@position-try --tooltip-top-left {
  margin: 0 0 8px;
  position-area: top span-right;
}

@position-try --tooltip-top-right {
  margin: 0 0 8px;
  position-area: top span-left;
}

@position-try --tooltip-top-center {
  margin: 0 0 8px;
  position-area: top;
}

@position-try --tooltip-bottom-center {
  margin: 8px 0 0;
  position-area: bottom;
}

@position-try --tooltip-bottom-left {
  margin: 8px 0 0;
  position-area: bottom span-right;
}

@position-try --tooltip-bottom-right {
  margin: 8px 0 0;
  position-area: bottom span-left;
}

.tooltip {
  padding: 8px;
  border: 0;
  border-radius: 4px;
  background-color: var(--dashboard-tooltip-background);
  box-shadow: $z1-shadow;
  color: var(--dashboard-tooltip-text);
  white-space: nowrap;

  &[data-alignment='top'] {
    margin: 0 0 8px;
    position-area: top;
    position-try-fallbacks:
      --tooltip-top-left, --tooltip-top-right, --tooltip-bottom-center, --tooltip-bottom-left,
      --tooltip-bottom-right;
  }

  &[data-alignment='bottom'] {
    margin: 8px 0 0;
    position-area: bottom;
    position-try-fallbacks:
      --tooltip-bottom-left, --tooltip-bottom-right, --tooltip-top-center, --tooltip-top-left,
      --tooltip-top-right;
  }
}
