@use '@/shared/styles/global' as *;

.modal {
  --content-padding-block: 16px;
  --content-padding-inline: 24px;

  max-width: 48vw;
  padding: 0;
  border: 0;
  border-radius: 8px;
  background-color: var(--dashboard-modal-background);
  box-shadow: $z4-shadow;

  &::backdrop {
    backdrop-filter: blur(4px);
    background-color: var(--dashboard-modal-overlay);
  }
}

.heading {
  padding: var(--content-padding-inline) var(--content-padding-inline) var(--content-padding-block);
  font-size: inherit;
}

.content {
  padding-inline: var(--content-padding-inline);

  &[data-padding='none'] {
    padding: 0;
  }
}

.buttons {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  padding: var(--content-padding-block) var(--content-padding-inline);
  background-color: var(--dashboard-modal-background);
  gap: 12px;
}
