@import '@/shared/styles/global';

.button {
  display: inline-flex;
  width: 24px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--dashboard-actions-menu-icon-default);

  &.active,
  &:hover,
  &:focus-within {
    border-color: var(--dashboard-actions-menu-border-hover);
    color: var(--dashboard-actions-menu-icon-hover);
  }
}
