@use '@/shared/styles/global' as *;

body {
  overflow: hidden;
  -webkit-app-region: drag;
  background-color: var(--menu-background);
}

button {
  -webkit-app-region: no-drag;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--app-background-default);
  color: var(--app-content-default);
  transition: left 500ms $ease-out-circ;
  user-select: none;

  &[data-mode='TASK'] {
    background-color: var(--app-background-task);
    color: var(--app-content-task);
  }

  &[data-mode='SHORT_BREAK'] {
    background-color: var(--app-background-short-break);
    color: var(--app-content-short-break);
  }

  &[data-mode='LONG_BREAK'] {
    background-color: var(--app-background-long-break);
    color: var(--app-content-long-break);
  }

  &.menuOpen {
    box-shadow: $z1-side-shadow;
  }
}

.menuButton {
  @extend %clickable;

  display: flex;
  width: 16px;
  height: 100vh;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background-color: var(--app-button-background-default);
  color: var(--menu-toggle-content-default);

  &:hover,
  &:focus-visible {
    background-color: var(--app-button-background-hover);
    color: var(--menu-toggle-content-hover);
  }
}

.content {
  position: relative;
  overflow: hidden;
  height: 100vh;
  flex: 1;
}

.timers {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
