@import '@/shared/styles/global';

body {
  background-color: var(--auth-background);
  color: var(--auth-content-default);

  a {
    color: var(--auth-content-link);
  }
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
