.preferences {
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
