.buttonsLayout {
  display: flex;
  height: 100%;
  align-items: center;
}

.content {
  overflow: hidden;
  flex: 1;
  padding-right: 8px;
}

.buttons {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-left: 1px solid var(--app-divider);

  button {
    flex: 1;
    padding: 0 12px;
    border: 0;
    border-top: 1px solid var(--app-divider);
    background-color: var(--app-button-background);
    color: var(--app-content-default);
    font-size: 13px;

    &:hover,
    &:focus {
      background-color: var(--app-button-background-hover);
    }

    &:first-child {
      border-top: none;
    }
  }
}
