.input {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 12px;
  border: 0;
  border-bottom: 1px solid var(--select-divider);
  background-color: var(--select-background-default);
  color: var(--select-content-default);
  outline: 0;

  &::placeholder {
    color: var(--select-content-helper);
  }
}
