.button {
  padding: 6px 14px;
  border: 1px solid var(--dashboard-input-default-border);
  border-radius: 4px;
  background-color: var(--dashboard-input-default-background-default);

  &:focus-visible {
    outline: 3px solid var(--dashboard-focus);
    outline-offset: 0;
  }

  &:hover {
    background-color: var(--dashboard-input-default-background-hover);
    cursor: pointer;
  }

  &:active {
    background-color: var(--dashboard-input-default-background-active);
  }

  &[data-size='small'] {
    padding: 4px 10px;
    font-size: 13px;
  }

  &[data-variant='primary'] {
    border-color: var(--dashboard-button-primary-background-default);
    background-color: var(--dashboard-button-primary-background-default);
    color: var(--dashboard-button-primary-text);

    &:hover {
      border-color: var(--dashboard-button-primary-background-hover);
      background-color: var(--dashboard-button-primary-background-hover);
    }

    &:active {
      border-color: var(--dashboard-button-primary-background-active);
      background-color: var(--dashboard-button-primary-background-active);
    }
  }

  &[data-variant='warning'] {
    border-color: var(--dashboard-button-warning-background-default);
    background-color: var(--dashboard-button-warning-background-default);
    color: var(--dashboard-button-warning-text);

    &:focus-visible {
      outline-color: var(--dashboard-button-warning-outline);
    }

    &:hover {
      border-color: var(--dashboard-button-warning-background-hover);
      background-color: var(--dashboard-button-warning-background-hover);
    }

    &:active {
      border-color: var(--dashboard-button-warning-background-active);
      background-color: var(--dashboard-button-warning-background-active);
    }
  }

  &[data-variant='text'] {
    padding: 0 2px;
    border: 0;
    background-color: transparent;
    color: var(--dashboard-button-link-default);
    outline-offset: 1px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:active {
      color: var(--dashboard-button-link-active);
    }
  }
}
