.button {
  display: inline-flex;
  min-height: 35px;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  border: 1px solid var(--dashboard-input-default-border);
  border-radius: 4px;
  background-color: var(--dashboard-input-default-background-default);
  vertical-align: middle;

  &[data-icon-only] {
    min-width: 35px;
    padding: 0;
  }

  &:focus-visible {
    outline: 3px solid var(--dashboard-focus);
    outline-offset: 0;
  }

  &:hover {
    background-color: var(--dashboard-input-default-background-hover);
    cursor: pointer;
  }

  &:active {
    background-color: var(--dashboard-input-default-background-active);
  }

  &[data-size='small'] {
    min-height: 28px;
    padding: 0 10px;
    font-size: 13px;

    &[data-icon-only] {
      min-width: 28px;
    }
  }

  &[data-variant='primary'] {
    border-color: var(--dashboard-button-primary-background-default);
    background-color: var(--dashboard-button-primary-background-default);
    color: var(--dashboard-button-primary-text);

    &:hover {
      border-color: var(--dashboard-button-primary-background-hover);
      background-color: var(--dashboard-button-primary-background-hover);
    }

    &:active {
      border-color: var(--dashboard-button-primary-background-active);
      background-color: var(--dashboard-button-primary-background-active);
    }
  }

  &[data-variant='warning'] {
    border-color: var(--dashboard-button-warning-background-default);
    background-color: var(--dashboard-button-warning-background-default);
    color: var(--dashboard-button-warning-text);

    &:focus-visible {
      outline-color: var(--dashboard-button-warning-outline);
    }

    &:hover {
      border-color: var(--dashboard-button-warning-background-hover);
      background-color: var(--dashboard-button-warning-background-hover);
    }

    &:active {
      border-color: var(--dashboard-button-warning-background-active);
      background-color: var(--dashboard-button-warning-background-active);
    }
  }

  &[data-variant='text'] {
    min-height: auto;
    padding: 0 2px;
    border: 0;
    background-color: transparent;
    color: var(--dashboard-button-link-default);
    outline-offset: 1px;
    text-decoration: underline;
    vertical-align: baseline;

    &:hover {
      text-decoration: none;
    }

    &:active {
      color: var(--dashboard-button-link-active);
    }
  }
}

.buttonGroup {
  display: inline-flex;

  > .button {
    &:focus-visible {
      z-index: 1;
    }

    &:not(:first-of-type) {
      margin-left: -1px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:not(:last-of-type) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
