.buttonLink {
  padding: 0 2px;
  border: 0;
  background-color: transparent;
  color: var(--dashboard-link-default);
  outline-offset: 1px;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  &:active {
    color: var(--dashboard-link-active);
  }
}
