.select {
  position: relative;
}

.caret {
  position: absolute;
  top: calc(50% - 6px);
  right: 12px;
  pointer-events: none;
}

.dropdown {
  padding: 6px 32px 6px 12px;
  border: 1px solid var(--dashboard-button-default-border);
  border-radius: 4px;
  appearance: none;
  background-color: var(--dashboard-button-default-background-default);

  &:focus-visible {
    outline: 3px solid var(--dashboard-focus);
    outline-offset: 0;
  }

  &:hover {
    background-color: var(--dashboard-button-default-background-hover);
    cursor: pointer;
  }
}
