.chart {
  position: relative;
}

.plot {
  display: block;
  overflow: visible;
  width: 100%;
}

.yAxis {
  text-anchor: start;

  .line {
    stroke: var(--dashboard-chart-axis);
  }

  .value {
    font-size: 12px;
  }

  .textBackground {
    fill: var(--dashboard-panel-background);
  }

  [data-hidden] {
    visibility: hidden;
  }
}

.currentTime {
  color: var(--dashboard-chart-current-time);

  .line {
    stroke: currentcolor;
  }

  .label {
    fill: currentcolor;
    font-size: 12px;
    font-weight: bold;
  }

  .labelBackground {
    fill: var(--dashboard-panel-background);
  }
}

.dateBackgrounds {
  rect {
    fill: transparent;

    &:hover {
      fill: var(--dashboard-chart-date-hover);
    }
  }
}

.bars {
  scroll-margin-top: 140px;
}

.eventBorder {
  pointer-events: none;
  shape-rendering: crispedges;
  stroke: var(--dashboard-chart-event-border);
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: var(--dashboard-panel-background);
}

.xAxis {
  display: flex;
  padding: 12px var(--content-padding);
  text-align: center;

  .date {
    flex: 1;
  }
}

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px var(--content-padding) 24px;
  gap: 8px 24px;

  .item {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    gap: 6px;
  }
}
