.chart {
  position: relative;
}

.plot {
  display: block;
  overflow: visible;
  width: 100%;
  height: 400px;

  .isTimeline & {
    height: 1600px;
  }
}

.dateBackgrounds {
  rect {
    fill: transparent;

    &:hover {
      fill: var(--dashboard-chart-date-hover);
    }
  }
}

.eventBorder {
  pointer-events: none;
  shape-rendering: crispedges;
  stroke: var(--dashboard-chart-event-border);
}

.yAxis {
  text-anchor: start;

  .line {
    stroke: var(--dashboard-chart-axis);
  }

  .value {
    font-size: 12px;
  }

  .textBackground {
    fill: var(--dashboard-panel-background);
  }
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: var(--dashboard-panel-background);
}

.xAxis {
  display: flex;
  padding: 12px var(--content-padding);
  text-align: center;

  .date {
    flex: 1;
  }
}

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px var(--content-padding) 24px;
  gap: 8px 24px;

  .item {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    gap: 6px;
  }
}
