.filters {
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    list-style: none;
  }
}

.footnote {
  margin-top: 32px;
}
