.historyPanel {
  overflow: auto;
  min-height: 450px;

  [data-type='task'],
  [data-type='resume'] {
    fill: var(--dashboard-chart-task);
  }

  [data-type='pause'] {
    fill: var(--dashboard-chart-pause);
    stroke: var(--dashboard-chart-task);
  }

  [data-type='void'] {
    fill: url('#void');
    stroke: var(--dashboard-chart-task);
  }

  [data-type='taskOver'] {
    fill: url('#overTask');
    stroke: var(--dashboard-chart-task);
  }

  [data-type='shortBreak'] {
    fill: var(--dashboard-chart-short-break);
  }

  [data-type='longBreak'] {
    fill: var(--dashboard-chart-long-break);
  }

  [data-type='shortBreakOver'] {
    fill: url('#overShortBreak');
    stroke: var(--dashboard-chart-short-break);
  }

  [data-type='longBreakOver'] {
    fill: url('#overLongBreak');
    stroke: var(--dashboard-chart-long-break);
  }
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px var(--content-padding) 12px;
  background-color: var(--dashboard-panel-background);

  h3 {
    margin-bottom: 12px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.thisWeekDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentcolor;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: var(--dashboard-panel-background);
}

.xAxis {
  display: flex;
  padding: 12px var(--content-padding);
  text-align: center;

  .date {
    flex: 1;
  }
}

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px var(--content-padding) 24px;
  gap: 8px 24px;

  .item {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    gap: 6px;
  }
}
