.historyPanel {
  overflow: auto;
  min-height: 450px;

  [data-type='task'],
  [data-type='resume'] {
    fill: var(--dashboard-chart-task);
  }

  [data-type='pause'] {
    fill: var(--dashboard-chart-pause);
  }

  [data-type='void'] {
    fill: url('#void');
  }

  [data-type='taskOver'] {
    fill: url('#overTask');
  }

  [data-type='shortBreak'] {
    fill: var(--dashboard-chart-short-break);
  }

  [data-type='longBreak'] {
    fill: var(--dashboard-chart-long-break);
  }

  [data-type='shortBreakOver'] {
    fill: url('#overShortBreak');
  }

  [data-type='longBreakOver'] {
    fill: url('#overLongBreak');
  }
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px var(--content-padding) 12px;
  background-color: var(--dashboard-panel-background);

  h3 {
    margin-bottom: 12px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.thisWeekDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentcolor;
}
