.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px var(--content-padding);

  h3 {
    margin-bottom: 12px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.thisWeekDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentcolor;
}
