.statsDisplay {
  display: grid;
  justify-content: space-around;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  text-align: center;

  dt {
    align-content: center;
    color: var(--dashboard-text-hint);
    font-size: 13px;
  }

  dd {
    font-size: 32px;
  }
}

.loadingDots {
  margin: 21px 0;
}
