.loadingDots {
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
  animation: loading 1.3s infinite ease-in-out;
  background-color: var(--dashboard-loading-dots);

  &:nth-child(1) {
    animation-delay: -0.32s;
  }

  &:nth-child(2) {
    animation-delay: -0.16s;
  }

  &:nth-child(3) {
    margin-right: 0;
  }
}

@keyframes loading {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
