.layout {
  display: flex;
  color: var(--dashboard-text-default);
}

.sidebar {
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  width: 240px;
  height: 100vh;
  flex-direction: column;
  border-right: 1px solid var(--dashboard-border);
  background-color: var(--dashboard-sidebar-background-default);
}

.menu {
  flex: 1;
  border-bottom: 1px solid var(--dashboard-border);

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: 24px 32px 24px calc(32px - 6px);
    border-left: 6px solid transparent;
    color: inherit;
    font-size: 16px;
    outline: none;
    text-decoration: none;

    &.active {
      border-color: var(--dashboard-sidebar-background-active);
    }

    &:hover,
    &:focus-within {
      background-color: var(--dashboard-sidebar-background-hover);
    }
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content {
  --content-padding: 32px;

  flex: 1;
  padding: var(--content-padding);
  background-color: var(--dashboard-content-background);
}

.saveChangesBanner {
  position: sticky;
  z-index: 1;
  bottom: 0;
}
