@use '@/shared/styles/global' as *;

.saveChangesBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  border-top: 1px solid var(--dashboard-border);
  background-color: var(--dashboard-sidebar-background-default);
  box-shadow: $z3-side-shadow;
}

.actions {
  display: inline-flex;
  gap: 12px;
}
