.container {
  position: fixed;
  z-index: 100;
  top: 16px;
  left: 50%;
  display: flex;
  width: max-content;
  max-width: calc(100vw - 32px);
  flex-direction: column;
  gap: 8px;
  pointer-events: none;
  transform: translateX(-50%);
}
